Repository pavolloffay/konflux-jaeger: changes, and which Tekton pipelines are due for each by the changed paths.
All: jaeger-es-rollover-on-push, jaeger-fbc-v4-16-on-push, jaeger-query-on-push

Path conditions:
  jaeger-es-rollover-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/jaeger-es-rollover-pull-request.yaml)) or (any of: .tekton/jaeger-es-rollover-push.yaml)) or (any of: Dockerfile.esrollover)) or (any of: jaeger)
  jaeger-fbc-v4-16-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/jaeger-fbc-v4-16-pull-request.yaml)) or (any of: .tekton/jaeger-fbc-v4-16-push.yaml)) or (any of: Dockerfile-4.16.catalog)) or (any of: catalog/***)
  jaeger-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/jaeger-query-pull-request.yaml)) or (any of: .tekton/jaeger-query-push.yaml)) or (any of: Dockerfile.query)) or (any of: jaeger)

Hermetic build for others 3
  .tekton/jaeger-operator-pull-request.yaml
  .tekton/jaeger-operator-push.yaml
Due: none

Hermetic build for others - operands and operator (#114)
  .tekton/jaeger-agent-pull-request.yaml
  .tekton/jaeger-agent-push.yaml
  .tekton/jaeger-all-in-one-pull-request.yaml
  .tekton/jaeger-all-in-one-push.yaml
  .tekton/jaeger-collector-pull-request.yaml
  .tekton/jaeger-collector-push.yaml
  .tekton/jaeger-es-index-cleaner-pull-request.yaml
  .tekton/jaeger-es-index-cleaner-push.yaml
  .tekton/jaeger-es-rollover-pull-request.yaml
  .tekton/jaeger-es-rollover-push.yaml
  .tekton/jaeger-ingester-pull-request.yaml
  .tekton/jaeger-ingester-push.yaml
  .tekton/jaeger-operator-pull-request.yaml
  .tekton/jaeger-operator-push.yaml
  .tekton/jaeger-query-pull-request.yaml
  .tekton/jaeger-query-push.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: jaeger-es-rollover-on-push, jaeger-query-on-push

Update jaeger-es-index-cleaner to 289db39
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-collector to a4a313c
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-agent to 32116e0
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-es-rollover to e6e0abc
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-query to 38f5d97
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-operator to a6e4a00
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-ingester to 55da7b5
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-all-in-one to 53492f5
  bundle-patch/update_bundle.sh
Due: none

Fix operator command in bundle
  bundle-patch/patch_csv.py
Due: none

Add renovate
  renovate.json
Due: none

Update jaeger-es-rollover to fa49204
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-ingester to 0a55fdd
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-operator to 283c038
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-es-index-cleaner to 2841013
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-collector to 65355ae
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-agent to 6a8d92d
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-all-in-one to a17e08e
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-query to c4e0c6e
  bundle-patch/update_bundle.sh
Due: none

Do not use state in bundle PR
  .tekton/jaeger-bundle-pull-request.yaml
Due: none

Fix catalog build
  Dockerfile-4.12.catalog
  Dockerfile-4.13.catalog
  Dockerfile-4.14.catalog
  Dockerfile-4.15.catalog
  Dockerfile-4.16.catalog
Due: jaeger-fbc-v4-16-on-push

Update jaeger-operator to a91ad35
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-ingester to 5c6c466
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-es-index-cleaner to 743e8cd
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-query to 139b3c8
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-es-rollover to 1ad074a
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-all-in-one to ae11d68
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-collector to 617a111
  bundle-patch/update_bundle.sh
Due: none

Update jaeger-agent to a844c7c
  bundle-patch/update_bundle.sh
Due: none

Try building Jaeger UI with npm
  .gitmodules
  Dockerfile.query
Due: jaeger-query-on-push

use hermetic env
  .tekton/jaeger-all-in-one-pull-request.yaml
  .tekton/jaeger-all-in-one-push.yaml
  .tekton/jaeger-query-pull-request.yaml
  .tekton/jaeger-query-push.yaml
  Dockerfile.allinone
Due: jaeger-query-on-push

increase resources for cachi2
  .tekton/jaeger-query-pull-request.yaml
Due: jaeger-query-on-push

increase resources for build
  .tekton/jaeger-query-pull-request.yaml
Due: jaeger-query-on-push

fix task name
  .tekton/jaeger-query-pull-request.yaml
Due: jaeger-query-on-push

fix task name again
  .tekton/jaeger-query-pull-request.yaml
Due: jaeger-query-on-push

Update jaeger-query to 4a30743
  bundle-patch/update_bundle.sh
Due: none

increase resources for build again
  .tekton/jaeger-query-pull-request.yaml
Due: jaeger-query-on-push
